<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.onlineshop.mapper.OrderDetailMapper" >
  <resultMap id="OrderDetailResultMap" type="OrderDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="itemid" property="itemid" jdbcType="INTEGER" />
    <result column="orderid" property="orderid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="OrderDetail_Column_List" >
    id, itemid, orderid, price, num, total
  </sql>
  <select id="selectByPrimaryKey" resultMap="OrderDetailResultMap" parameterType="Integer" >
    select 
    <include refid="OrderDetail_Column_List" />
    from order_goods_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from order_goods_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="OrderDetail" >
    insert into order_goods_detail (id, itemid, orderid, 
      price, num, total)
    values (#{id,jdbcType=INTEGER}, #{itemid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{num,jdbcType=INTEGER}, #{total,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="OrderDetail" >
    insert into order_goods_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemid != null" >
        itemid,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="total != null" >
        total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemid != null" >
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="OrderDetail" >
    update order_goods_detail
    <set >
      <if test="itemid != null" >
        itemid = #{itemid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="OrderDetail" >
    update order_goods_detail
    set itemid = #{itemid,jdbcType=INTEGER},
      orderid = #{orderid,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      total = #{total,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>